@model DataLayer.Entities.Contact
@{
    @using CoreLayer.Utilities;
}
<style>
.image {
 max-width:70%;
}
</style>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">پـیـام از <span class="text-info">@Model.User.FullName</span></h3>
    </div>
    <form role="form" method="post" asp-area="Admin" asp-controller="Message" asp-action="Delete">
        <div class="box-body">

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Subject"></label>
                    <input asp-for="Subject" class="form-control" disabled />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" disabled />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="User.FullName" class="control-label"></label>
                    <input asp-for="User.FullName" class="form-control" disabled />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CreationDate"></label>
                    <input value="@Model.CreationDate.ToShamsi()  @Model.CreationDate.ToShamsiDay()  @Model.CreationDate.ToShortTimeString()" class="form-control" disabled />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Lvl" class="control-label"></label>
                    <input asp-for="Lvl" class="form-control" disabled />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="User.Phonenumber" class="control-label"></label>
                    <input asp-for="User.Phonenumber" class="form-control" disabled />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-10">
                    <label asp-for="ContactText" class="control-label"></label>
                    <textarea style="max-width:fit-content" asp-for="ContactText" class="form-control" disabled></textarea>
                </div>  
                <div class="form-group col-md-2">
                    <label asp-for="FileName" class="control-label"></label>
                    <a class="thumbnail image" href="@CoreLayer.Utilities.RootFile.ReadOrderFile@Model.FileName"><img src="~/images/download.jfif" /></a>
                </div>
            </div>
        </div>
        <div style="position:center" class="box-footer">
            <button onclick="Delbtn()" type="button" class="btn btn-danger btn-lg" style="min-width:150px">حـــذف</button>
        </div>
    </form>

</div>

@section Scripts
{
<script>
      function Delbtn() {
           var id = location.href.split('/')[6];
          $.ajax({
              type: "Post",
              url: "/Admin/Message/Delete/",
              data:"id="+id,
              success: function (response) {
                   if (response.status === 200) {
                  Swal.fire({
                      icon: 'success',
                      title: response.message,
                  }).then((result) => {
                            location.href = '/admin/Message';
                        })
                   }
          
              else {
                  Swal.fire({
                      icon: 'error',
                      title: response.message,
                  })
              }
              }
          });
      }
</script>
}
