@{
    ViewData["Title"] = "Hamed-Khorasani";
    @using CoreLayer.IServices;
    @using CoreLayer.Utilities;
    @inject IGenericRepository<DataLayer.Entities.Skill> _genericRepository
    @inject IGenericRepository<DataLayer.Entities.WorkExperience> _experienceGenericRepository
    @inject IOwnerService _OwnerRepository
    var owner = _OwnerRepository.GetActiveProfile().Result;
    var experienceList = _experienceGenericRepository.GetAll();
}

<div class="page-content">
    <div>
        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header page-header-small" filter-color="green">
                    <div class="page-header-image" data-parallax="true" style="background-image: url('images/Code.JPG')"></div>
                    <div class="container">
                        <div class="content-center">
                            <div class="cc-profile-image"><a href="#"><img src="@(RootFile.ReadOwnerFile+owner.ProfilePhoto)" alt="Image" /></a></div>
                            <div class="h2 title">@owner.FullName</div>
                            <p class="category text-white">Back End Developer</p>
                            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">سفارش پروژه</a>
                            <a class="btn btn-primary" href="https://github.com/comradow" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">گیت هاب</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="container">
                            <div class="button-container">
                                <a class="btn btn-default btn-round btn-lg btn-icon" href="https://t.me/this_ishamed" rel="tooltip" title="تلگرام"><i class="fa fa-telegram"></i></a>
                                <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/hamed_dotnet" rel="tooltip" title="اینستاگرام"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="about">
            <div class="container">
                <div class="card" data-aos="fade-up" data-aos-offset="10">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <p class="h4 mt-0 title">دربـاره مـن </p>
                                <p>@Html.Raw(owner.About)</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="row mt-3">
                                    <p class="col-sm-4"><strong class="text-uppercase">ســن :</strong></p>
                                    <p class="col-sm-8">@((DateTime.Now.Year - owner.BirthDate.Year))</p>
                                </div>
                                <div class="row mt-3">
                                    <p class="col-sm-4"><strong class="text-uppercase">ایـمـیـل:</strong></p>
                                    <p class="col-sm-8">@owner.Email</p>
                                </div>
                                <div class="row mt-3">
                                    <p class="col-sm-4"><strong class="text-uppercase">شــمــاره:</strong></p>
                                    <p class="col-sm-8">@owner.Phonenumber</p>
                                </div>
                                <div class="row mt-3">
                                    <p class="col-sm-4"><strong class="text-uppercase">شـهـر:</strong></p>
                                    <p class="col-sm-8">@owner.City</p>
                                </div>
                                <div class="row mt-3">
                                    <p class="col-sm-4"><strong class="text-uppercase">زبـان:</strong></p>
                                    <p class="col-sm-8">@owner.Languages</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="skill">
            <div class="container">
                <div class="h4 text-center mb-4 title">مــهــارت هــا</div>
                <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <div class="card-body">
                        <div class="row">
                            @foreach (var skill in _genericRepository.GetAll())
                            {
                                <div class="col-md-6">
                                    <div class="progress-container progress-primary">
                                        <p style="text-align:left" class="progress-badge">@skill.Name</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="@skill.PercentOfDominance" aria-valuemin="0" aria-valuemax="100" style="width: @(skill.PercentOfDominance+"%");"></div><span class="progress-value">@skill.PercentOfDominance%</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (experienceList.Any())
        {
            <div class="section" id="experience">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">تـجـارب کـاری</div>
                    @foreach (var item in experienceList)
                    {
                        <div class="card">
                            <div class="row">
                                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                                    <div class="card-body cc-experience-header">
                                        <p>@item.FromDate.ToShamsi() - @(item.ToDate != null ? "حال": @item.ToDate.Value.ToShamsi())</p>
                                        <div class="h5">@item.Subject</div>
                                    </div>
                                </div>
                                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                                    <div class="card-body">
                                        <div class="h5">@item.Subject</div>
                                        <p>@item.Subject</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="section" id="contact">
            <div class="cc-contact-information" style="background-image: url('images/staticmap.png')">
                <div class="container">
                    <div class="cc-contact">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card mb-0" data-aos="zoom-in">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="h4 text-center title"><p> ارتـبـاط بـا مــن و ارسال سـفـارش پروژه شما</p></div>
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            حتما جزئیات پروژه را در <strong> قالب فایل</strong> ارسال کنید
                                            <button style="text-align:left" type="button" class="close pu" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                        </div>

                                        <br />
                                        <form asp-action="InsertOrder" asp-controller="Contact" id="contactForm" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="custom-card-body">
                                                        <div class="row mb-3">
                                                            <div class="col">
                                                                <input name="Subject" class="form-control" type="text" placeholder="عنوان" required="required" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="custom-card-body">
                                                        <div class="row mb-3">
                                                            <div class="col">
                                                                <input class="form-control" type="text" name="Email" placeholder="ایمـیـل" required="required" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="custom-card-body">
                                                        <div class="row mb-3">
                                                            <div class="col">
                                                                <div class="input-group">
                                                                    <div size="compact" class="g-recaptcha" data-sitekey="6Lf0KvkdAAAAAFtpIjMOTUUXXznahHIF1xEYK7OB"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="custom-card-body">
                                                        <div class="row mb-3">
                                                            <div class="col">
                                                                <div class="input-group">
                                                                    <div class="form-control" id="app">
                                                                        <input class="" type="file" name="file" id="file" ref="uploads" v-on:change="fileSelected" />
                                                                        <div style="max-height:80%;text-align:center" class="@*card*@">
                                                                            <br />
                                                                            <ul class="list-group list-group-flush">
                                                                                <li id="fileLi" class="list-group-item form-control" v-for="(file) in fileList">
                                                                                    {{file.name}} |
                                                                                    <strong>
                                                                                        {{(file.size/(1024*1024)) | roundme}}  MB
                                                                                    </strong>
                                                                                    <div class="progress">
                                                                                        <div id="progressbar" class="progress-bar" v-bind:style="{width: file.progress+ '%'}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="custom-card-body">
                                                        <div class="row mb-3">
                                                            <div class="col">
                                                                <div class="input-group">
                                                                    <textarea style="text-align:center" class="form-control" name="ContactText" placeholder="پـیـام شـمـا" required="required"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <button style="margin-left: auto;margin-right: auto;max-width:50%" class="btn btn-block btn-primary" type="submit">ارسـال</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <div style="text-align:center" class="alert alert-success" role="alert">
                                            <span>بـرای ارسـال پـیـام بـایـد ابـتـدا <a href="/register/login" class="alert-link">وارد سـایـت</a> شـویـد</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script>
    $('#contactForm').submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);;
        $.ajax({
            type: "POST",
            url: "/Contact/InsertOrder",
            data: formData,
            success: function (response) {
                if (response.status === 200) {
                    Swal.fire({
                        icon: 'success',
                        title: response.message,
                    }).then((result) => {
                            location.reload();
                        })
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: response.message,
                    })
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
</script>
<script>



    Vue.filter('roundme', function (value) {
        if (!value) return ''
        try {
            return Math.round(10 * value) / 10;
        } catch (e) {
            return "0.0";
        }

    })

    var app = new Vue({
        el: "#app",
        data: {
            fileList: [],
            connection: null
        },
        methods: {

            fileSelected: function () {

                var vm = this;

                var selectedfiles = this.$refs.uploads.files;

                for (var i = 0; i < selectedfiles.length; i++) {

                    var file = {
                        name: selectedfiles[i].name,
                        size: selectedfiles[i].size,
                        progress: 0
                    }
                     vm.fileList.push(file);
                }

            }
        },
        mounted: function () {
            $('#file').change(function (e) {
            if($(this).val()!=null){
                $("#fileLi").remove();
            }
        });
            var vm = this;

            vm.connection = new signalR.HubConnectionBuilder()
                .withUrl('/UploadHub')
                .configureLogging(signalR.LogLevel.Information)
                .build();

            vm.connection.start()
                .catch(function (err) {
                    return console.error(err.toSting());
                });

            vm.connection.on('sendProgress', function (fileName, progress) {

                var fileIndex = _.findIndex(vm.fileList, function (o) { return o.name == fileName; });
                if (fileIndex >= 0) {
                    vm.fileList[fileIndex].progress = progress;
                } else {
                    console.log("Not found : " + fileName);
                }

            });
        }
    });
</script>
}
